
    h1, p, i {
        color:cadetblue;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
.titulo{
    color: red ;
}
    
#paragrafo{
    color: purple;
}